<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Exercice </title>
    <link rel="stylesheet" href="dec.css">
</head>
<body>
    <table class="styled-table">
        <thead>
          <tr>
            <th> Esercizio </th>
            <th> ID dell'esercizio </th>
            <th> Difficoltà </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Braccio </td>
            <td><a href="indox.html"><button> 001 </button></a></td>
            <td> Facile </td>
          </tr>
          <tr>
            <td> Gambe </td>
            <td><a href="indox1.html"><button>003 </button></a></td>
            <td> Medio </td>
          </tr>
          <tr>
            <td> Random </td>
            <td><a href="indox2.html"><button> 004 </button></a></td>
            <td> Difficile </td>
          </tr>
        </tbody>
      </table>
</body>
</html>