<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Score </title>
    <link rel="stylesheet" href="op.css">
    <link rel="stylesheet" href="po.css">
</head>
<body>
    <h1>  </h1>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href=""> Best</a>
            <a href=""> Medium </a>
            <a href=""> Worst</a>
        </div>
    </div>
    <table class="styled-table">
    <thead>
        <tr>
          <th> Data </th>
          <th><button class="b1">1</button></th>
          <th><button class="b2">2</button></th>
          <th><button class="b3">3</button></th>
          <th><button class="b4">4</button></th>
          <th><button class="b5">5</button></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 20/01/2025 </td>
          <td> 1,45s </td>
          <td> 1,20s </td>
          <td> 1,32s </td>
          <td> 0,40s</td>
          <td> 2.47s</td>
        </tr>
        <tbody>
    </table>
</body>
</html>