<html>

<head>
  <title>Table Example</title>
  <link rel="stylesheet" href="/static/css/dec.css">
</head>

<body>

    <table class="styled-table">

    <thead>

      <tr>
        <th> Nome </th>
        <th> ID </th>
      </tr>

    </thead>

    <tbody>

      <tr>
        <td> NAOUFAL </td>
        <td><a href="naoufal_data.html"><button> 111 </button></a></td>
      </tr>

      <tr>
        <td> DANIEL </td>
        <td><a href="daniel_data.html"><button> 111 </button></a></td>
      </tr>

      <tr>
        <td> MAKSYM </td>
        <td><a href="maksym_data.html"><button> 111 </button></a></td>
      </tr>
    </tbody>

  </table>

</body>

</html>